body {
	background: ghostwhite;
	color: darkolivegreen;
	font-family: Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
}

.image {
	display: block;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.search{
	display: block;
	width: 400px;
	line-height: 24px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border: 1px solid darkgrey;
	border-radius: 24px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/* .main {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
} */

.free_button {
	background-color: #dfe1e5;
	border: none;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	border-radius: 10px;
}
/* .button {
	display: block;
	width: 100px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto; 
} */

.card {
	text-align: left;
	background-color: #64753b;
	color: #ffffff;
	width: 350px;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid black;
	border-radius: 20px;
}

.cool_button {
	color: #ffffff;
	width: 100px;
	background-color: #64753b;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	padding: 10px;
	font-weight: bold;
}