body {
	margin-top: 20px;
	font-family: Tahoma, Verdana, sans-serif;
}

.bcard {
	border: 1px dotted lightblue;
	width: 500px;
	display: flex;
	margin: 0 auto;
	padding: 20px;
	justify-content: space-around;
	text-align: center;
	background-color: #f0f8ff;
	color: #2b2839;
	border-bottom: 10px solid #1560bd;

}

.profile_pic {
	width: 150px;
	border: 5px solid #1560bd;
	border-radius: 15px;
	box-shadow: 5px 5px #89cff0;
	
}